
<div class="clearfix"></div>

<footer class="site-footer txt-center">
  <hr>
  <h1>Coneix-nos a:</h1>
  <ul class="social">
    <li><a href="http://www.seebook.eu/ca/"><img src="{{ site.baseurl }}/images/web.png" alt="Seebook Web" title="Seebook Web"/></a></li>
    <li><a href="http://www.seebook-shop.eu/ca/" target="_blank"><img src="{{ site.baseurl }}/images/carrito-red.png" alt="Botiga" title="Botiga"/></a></li>
  </ul>
  <h1>Segueix-nos a:</h1>
  <ul class="social">
    {% for item in site.social %}
    <li><a href="{{ item[1] }}" target="_blank"><img src="{{ site.baseurl }}/images/{{ item[0] }}.png" alt="{{ item[0] }}" title="{{ item[0] }}"/></a></li>
    {% endfor %}
    <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><img src="{{ site.baseurl }}/images/rss.png" alt="RSS" title="rss"/></a></li>
  </ul>
  <small>&copy; {{ site.time | date: '%Y' }} Digital Tangible S.L. Tots els drets reservats.</small>
</footer>
